<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
    <section id="info" class="d-flex align-item-center justify-content-center">
    <div class="container">     
        <div class="page-header">
            <h1>Контакты</h1>
            <div>
                <p><strong>Управляющая организация МУП «СпДУ»</strong></p>
                <p>ул. Ворошилова, 63а<br>тел. 46-56-46<br><a href="https://www.spdu18.ru/contacts">https://www.spdu18.ru/contacts</a></p>
                <p><strong>Жилищно-эксплуатационный участок №2(Центр)</strong></p>
                <p>Отвечает за обслуживание дома (обеспечение работы домовых коммунальных сетей, вывоз мусора, уборка придомовой территории и подъездов, чистка крыш от снега, закраска надписей на фасадах, замена счетчиков, вызов сантехников, электриков, слесарей и т.п.)<br>ул. К.Маркса, 275<br>Диспетчерская служба тел. 43-19-28 (будни с 8:00 до 17:00)</p>
                <p><strong>АВАРИЙНАЯ СЛУЖБА МУП “СпДУ”</strong></p>
                <p>Телефон: 45-24-76; сот. 8-950-823-24-76<br>(с 17.00 до 8.00 в будни и круглосуточно в выходные и праздничные дни)</p>
                <p><strong>Председатель совета дома</strong></p>
                <p>Тел. 90-65-88</p>
                <p><strong>Телефоны экстренных служб (круглосуточно)</strong></p>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Телефон</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Диспетчерская служба Администрации г. Ижевска
                            <p>(оперативная информация об отключениях ГВС и отопления)</p></td>
                        <td>072,
                           <p>99-80-72</p></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>МУП «Ижводоканал», диспетчер</td>
                        <td>95-05-00, 78-25-32</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Ижевские электрические сети</td>
                        <td>79-60-60,
                            8 (800) 220-0-220</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Служба реагирования в чрезвычайных ситуациях</td>
                        <td>57-25-12</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Диспетчерская служба теплоснабжающей компании</td>
                        <td>90-35-43, 90-35-45</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Главное Управление МЧС РФ по УР</td>
                        <td>79-60-60,
                            8 (800) 220-0-220</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Дежурная часть УМВД по городу Ижевску</td>
                        <td>41-60-01, 
                            02, с моб. 102</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Станция скорой медицинской помощи</td>
                        <td>03, с моб. 103</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Аварийно-диспетчерская служба "Газпром газораспределение Ижевск"</td>
                        <td>04, с моб. 104</td>
                      </tr>
                    </tbody>
                  </table>
                  <p><strong>Электронные сервисы</strong></p>
                <p>Государственная информационная система<br>жилищно-коммунального хозяйства<br><a href="https://dom.gosuslugi.ru/">ГИС ЖКХ</a></p>
                <p>Информационная система<br>“Голосование собственников жилья”<br><a href="https://dom.izh.ru/login">ГСЖ Ижевск</a></p>
                <h2>Поставщики ресурсов</h2>
                <ul>
                  <li><a href="https://izhvodokanal.ru"> МУП «Ижводоканал»</a></li>
                  <ul>
                    <li>Абонентская служба: 95-05-34</li>
                    <li>Телефон сервисного подразделения «Одно окно»: 95-05-49, 51-24-75</li>
                  </ul>
                  <li><a href="https://udm.esplus.ru"> Удмуртский филиал АО «ЭнергосбыТ Плюс»</a></li>
                  <ul>
                    <li>Единая справочная служба: 8 (800) 700-10-32</li>
                    <li><a href="https://lkm.esplus.ru/auth/?type=individual">Личный кабинет</a></li>
                  </ul>
                  <li><a href="http://udmurtgaz.ru/contacts/">ООО «Газпром межрегионгаз Ижевск»</a></li>
                  <ul>
                    <li>Единая справочная служба: 41-00-00</li>
                    <li><a href="https://xn--80afnfom.xn--80ahmohdapg.xn--80asehdb/login">Личный кабинет</a></li>
                  </ul>
                  <li><a href="https://xn--80afebbua4aociifcc1afoc.xn--p1ai/">ООО «Спецавтохозяйство»</a></li>
                  <ul>
                    <li>Региональный оператор по обращению с ТКО</li>
                    <li>Служба мониторинга: 570-454</li>
                  </ul>
                  <li><a href="https://www.izhdomofon.ru/">ООО «Ижевские домофоны»</a></li>
                  <ul>
                    <li>Телефон: 91-81-72, 91-81-73</li>
                  </ul>
                  <li>Провайдеры в нашем доме:</li>
                  <ul>
                    <li><a href="https://udmurtiya.rt.ru/#3in1">Ростелеком</a></li>
                    <li><a href="https://mark.ru/">Марк</a></li>
                    <li><a href="https://udm.mts.ru/personal">МТС (бизнес)</a></li>
                    <li><a href="https://izhevsk.dom.ru/?utm_referrer=https%3a%2f%2fwww.google.com%2f">Эр-телеком (бизнес)</a></li>
                  </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
    <%- include('../partials/footer.ejs')%>
</body>

</html>