<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
    <section id="info" class="d-flex align-item-center justify-content-center">
      <div class="container">
          <div class="page-header">
            <div class="card my-3">
              <div class="card-header">
                Адрес
              </div>
              <div class="card-body">
                <p class="card-text">ул. Красная, 133, Ижевск, Удмуртская Республика</p>
                <a href="https://www.google.com/maps/place/%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+ul.,+133,+%D0%98%D0%B6%D0%B5%D0%B2%D1%81%D0%BA,+Udmurt+Republic,+426069/data=!4m2!3m1!1s0x4179592b170334e5:0x50c0a25a291ec61?sa=X&ved=2ahUKEwi5m5vKj6L3AhXN0qYKHQ8jAQMQ8gEwAHoECAsQAQ" target="_blank" class="btn btn-primary">На карте</a>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-header">
                Анкета
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item">Год постройки: 1931</li>
                  <li class="list-group-item">Количество этажей: 5</li>
                  <li class="list-group-item">Тип дома: Многоквартирный дом</li>
                  <li class="list-group-item">Жилых помещений: 19</li>
                  <li class="list-group-item">Капитальный ремонт: см. сроки</li>
                  <li class="list-group-item">Серия, тип постройки: Индивидуальный</li>
                  <li class="list-group-item">Тип перекрытий: Деревянные</li>
                  <li class="list-group-item">Материал несущих стен: Стены кирпичные</li>
                  <li class="list-group-item">Тип мусоропровода: Отсутствует</li>
                  <li class="list-group-item">Дом признан аварийным: Нет</li>
                </ul>
              </div>
              <div class="card my-3">
                <div class="card-header">
                  Основные сведения
                </div>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item">Год ввода в эксплуатацию:		1931</li>
                    <li class="list-group-item">Дом признан аварийным:		Нет</li>
                    <li class="list-group-item">Состояние дома:		Исправный</li>
                    <li class="list-group-item">Формирование фонда кап. ремонта:		На счете регионального оператора</li>
                    <li class="list-group-item">Класс энергетической эффективности:		C</li>
                    <li class="list-group-item">Площадь парковки м2:		0</li>
                    <li class="list-group-item">Тип дома:		Многоквартирный дом</li>
                    <li class="list-group-item">Износ здания, %:		30</li>
                    <li class="list-group-item">Площадь многоквартирного дома, кв.м:		2897.6</li>
                    <li class="list-group-item">Площадь жилых помещений м2:		1354.9</li>
                  </ul>
                </div>
          
      </div>
      </div>
  </section>
  
  
        <%- include('../partials/footer.ejs')%>
</body>

</html>